<!DOCTYPE html>
<html>
    <head>
        <title>
            About us
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
   
    {% include 'staticnav.html' %}
    <body>
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                    <div class="aboutus">
                        <h2 class="aboutus-title" style="font-size: 4em; margin-bottom: 3%; text-align: center;">About Us</h2>
                        <p class="aboutus-text">Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</p>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>